<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="color: aqua; background-color: rgb(40, 0, 78)">
    <h1><u>ABOUT THE PRODUCT:</u></h1>
    <h2>Product Name: {{pro_d.name}}</h2>
    <h3>Product Price: {{pro_d.price}}</h3>
    <hr />
    <h><b>Details: </b>{{pro_d.details}}</h>
    <hr />
    <a href="/products/" style="color: bisque">Back to List</a>
  </body>
</html>
